html, body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #262626;
    color: #f9dcc5;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body div {
    text-align: center;
}